<div ng-show="message.length">
  <notification message="message"></notification>
</div>

<form name="NewPostForm" ng-submit="addNewPost()" novalidate>
  <div class="form-group">
    <label for="title">Email address</label>
    <input type="text" class="form-control" id="title" placeholder="Title" ng-model="newPost.title">
  </div>
  <div class="form-group">
    <textarea placeholder="body" row="5" col="10" ng-model="newPost.body"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>